.footer {
    position: relative;
    margin: 0px;
    background-color: #A5D7E8;
    padding: 0px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    padding: 10px;
  }
  
  .sub {
    display: flex;
    justify-content: space-evenly;
  }
  
  .sub p {
    margin: 5px;
  }
  
  @media screen and (max-width: 720px) {
    .sub {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
    }
    
  }
  