.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.homeInfo{
  display: flex;
  margin-top: 100px;
  background-color: #003470;
}
.infoImage{
  width: 40%;
  height: 500px;
  border-radius: 20px;
  background-image: url('./image/backgound11.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.infoText{
  color: white;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 65px;
}
.workTime{
  display: flex;
  justify-content: space-around;
  background-color: #141B1D;
  color: white;
  padding: 100px 0px 100px 0px;
  margin-top: 150px;
  flex-wrap: wrap;
}